<mat-card class="demo-wrapper">
  <!-- <form [formGroup]="options"> -->
  <div class="demo-wrapper_column left">
    <div class="demo-wrapper_row">
      <label>Allow negative:</label>
      <mat-checkbox
        [(ngModel)]="allowNegative"
        (change)="validateMin()"
      ></mat-checkbox>
    </div>
    <div class="demo-wrapper_row">
      <label>Allow empty:</label>
      <mat-checkbox [(ngModel)]="allowEmpty"></mat-checkbox>
    </div>
    <div class="demo-wrapper_row">
      <label>Min:</label>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="number"
          [(ngModel)]="min"
          [min]="!allowNegative ? 0 : -99999999999"
        />
      </mat-form-field>
    </div>
    <div class="demo-wrapper_row">
      <label>Max:</label>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="number"
          [(ngModel)]="max"
          [min]="!allowNegative ? 0 : -99999999998"
        />
      </mat-form-field>
    </div>
    <div class="demo-wrapper_row">
      <label>Allow decimal:</label>
      <mat-checkbox [(ngModel)]="allowDecimal"></mat-checkbox>
    </div>
    <div class="demo-wrapper_row">
      <label [class]="{ disabled: !allowDecimal }">Decimal sign:</label>
      <mat-radio-group [(ngModel)]="decimalSign" [disabled]="!allowDecimal">
        <mat-radio-button value=",">Comma</mat-radio-button>
        <mat-radio-button value=".">Point</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="demo-wrapper_row">
      <label [class]="{ disabled: !allowDecimal }">Decimal places:</label>
      <mat-form-field appearance="outline">
        <input
          matInput
          type="number"
          min="1"
          max="16"
          [(ngModel)]="decimalPlaces"
          [disabled]="!allowDecimal"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="demo-wrapper_column right">
    <mat-form-field appearance="outline">
      <mat-label>OnlyNumber input</mat-label>
      <input
        matInput
        type="text"
        NumberOnly
        [allowEmpty]="allowEmpty"
        [allowDecimals]="allowDecimal"
        [allowNegative]="allowNegative"
        [decimalPlaces]="decimalPlaces"
        [decimalSign]="decimalSign"
        [min]="min"
        [max]="max"
        (validateEmission)="catchValidation($event)"
        [disabled]="errorMsg !== ''"
      />
      <mat-hint>{{ errorMsg }}</mat-hint>
    </mat-form-field>
  </div>
  <!-- </form> -->
</mat-card>
